<footer class="app-footer border-top py-3" data-bs-theme="dark">
    <div class="container-fluid">
        <div class="float-end d-none d-sm-inline">
            <small class="text-muted me-2">Tecnologia</small>
            <i class="fa-brands fa-docker text-primary fa-lg"></i>
        </div>
        <span class="text-secondary small">
            &copy; 2024-2026 
            <strong class="text-white">Baleia</strong>. 
            Todos os direitos reservados.
        </span>
        </div>
</footer>