{% extends "main.html" %}
{% block main %}
<div class="container">
    <form id="form">
        <input type="hidden" id="id" name="id">
        <div class="row">
            <div class="col-12">
                <div class="card mt-2">
                    <div class="card-header">
                        <h2>Lista de empresa</h2>
                        <a href="/empresa/cadastro" class="btn btn-success">Cadastrar</a>
                    </div>
                    <div class="card-body">
                        <table class="table table-striped table-hover" id="tabela">
                            <thead>
                                <tr>
                                    <th><i class="fa-solid fa-address-card"></i>Id</th>
                                    <th><i class="fa-solid fa-address-card"></i>Nome</th>
                                    <th><i class="fa-solid fa-address-card"></i>Sobrenome</th>
                                    <th><i class="fa-solid fa-address-card"></i>CPF/CNPJ</th>
                                    <th><i class="fa-solid fa-address-card"></i>RG/IE</th>
                                    <th><i class="fa-solid fa-ghost"></i>Ação</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
    </form>
</div>
</div>
{% endblock %}
{% block script %}
{% include "script.html" %}
<script defer type="module" src="/js/listaempresa.js"></script>
{% endblock %}